
html,
body {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

.container-fluid {
    margin: 0;
}

#main_sidebar{
    background-color: rgb(46, 10, 98);
    color: white;
    text-align: center;
    height: 100vh;
}

/* Home & login page */
#main_bar, #token{
    margin: 0;
}
#jumbotron{
    background-color: rgb(46, 10, 98);
    color: white;
}

/* inside side bar */
article {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
footer {
    border-top: solid 1px;
    background: rgba(242, 66, 66, 0.5);
    width: 100%;
    height: 80px;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}

/* vue installation */
#userview {
    height: 100vh;
    margin: 0;
}

/* Navbar with vue router link */
#fix_navbar {
    background-color: rgb(46, 10, 98);
    left: 0;
    right: 0;
    height: 10%;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    }

nav * {
    display: inline;
    }
    
nav li {
    margin: 20px;
    }
    
nav li a {
    color: white;
    text-decoration: none;
    }

nav li a:hover {
        color: rgba(242, 66, 66, 0.5);
      }

      

/* Form border */
#border {
    border: 10px solid grey;
    box-sizing: border-box;
    background: rgba(172, 106, 106, 0.5);
}



/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: lightgreen;
  }
  
  td {
    text-align: center;
    vertical-align: middle;
  }
  
  tbody tr:nth-child(odd) {
    background-color: lightblue;
  }







/* Login Form */
.waper{
    max-width: 350px;
    margin:50px auto;
    background:#FFFFFF;
	min-height:207px;
}

.head{
   background-color: #5891ff;
   padding:10px 10px 10px 10px;
   color:#FFFFFF;
   font:Geneva, Arial, Helvetica, sans-serif;
   font-size:20px;
   text-align: center;
}

.foc{
 margin:10px 10px 10px 10px;
}




